.articles{
    background-color: $veryLightGray;
}

.article{
    
    &__content{

    }

    &__grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.75rem;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2,1fr);
        }
        @include breakpoint-up(large){
            grid-template-columns: repeat(4,1fr);
        }
    }

    &__item{
        border-radius: 0.25rem;
        overflow: hidden;
        box-shadow: 0 3px 12px rgba(0,0,0,0.15);
        transition: all 150ms ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
    }

    &__image{
        background-image: url('/images/image-currency.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: center center;
        height:12.5rem ;
    }

    &__text{
        background-color: $white;
        padding: 1.75rem 1.75rem 2.5rem 1.75rem;
        color:$grayisBlue;

        @include breakpoint-up(medium){
            padding: 1.75rem 1.5rem;
        }
    }

    &__author{
        font-size: 0.625rem;
        margin-bottom: 0.75rem;
    }
    &__title{
        margin-bottom: 0.75rem;
        font-size: 1rem;
        line-height: 1.2;
        color: $darkBlue;
    }
    &__description{
        font-size: 0.75rem;
    }
}